.container{
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 150px;
    transition: all 0.3s ease;
    
    
    
    .items{
        width: 100%;
        height: 100px;
        background-color: rgb(244, 242, 242);
        display: flex;
        align-items: center;
        position: fixed;
        top: 10.2vh;
        justify-content: center;
        -webkit-box-shadow: -8px -12px 3px -12px rgba(0,0,0,0.75);
-moz-box-shadow: -8px -12px 3px -12px rgba(0,0,0,0.75);
box-shadow: -8px -12px 3px -12px rgba(0,0,0,0.75);
        gap: 40px;
        
        .content{
            width: 80%;
            height: 100px;
            display: flex;
           gap: 10px;
          
            
  

            .left{
                flex: 1;
                display: flex;
                align-items: center;
                height: 60px;
                margin-top: 15px;
                justify-content: center;
                background-color: white;
                
cursor: pointer;
                
                
                
            }
            .adult{
                flex: 1;
                background-color: white;
                display: flex;
                align-items: center;
                height: 60px;
                justify-content: center;
                margin-top: 15px;

                .optionCounter{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 12px;
                    color: black;
                }
                .optionCounterbutton{
                    width: 30px;
                    height: 30px;
                    border: 1px solid #0071c2;
                    cursor: pointer;
                    background-color: white;
                }
                .optionCounterbutton{
                    cursor: not-allowed;
                }
            }
            .center{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60px;
                margin-top: 15px;
                background-color: #fff;
                gap: 10px;
              
                
                
                
           
            }
            .right{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60px;
                margin-top: 15px;
                background-color: #fff;
                gap: 10px;
                
            }
            .btnsearch{
               width: 120px;
               height: 52px;
               line-height: 52px;
               display: inline-block;
               border-radius: 10px;
               align-items: center;
               justify-content: #fff;
               margin-top: 20px;
               gap: 20px;
               font-size: 14px;
               font-family: sans-serif;
               border: none;
               cursor: pointer;
                background-color: #e0aa14;
            }
           
        }
       
    }
    
    
    
}

.roomdetails {
    width: 80%;
    height: 50px;
    margin: auto;
    font-weight: bold;
    display: flex;
    color: #666;
    background-color: rgba(232, 232, 232, 0.819);
  
    .left2 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      
    }
  
    .center2 {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
  
    .right2 {
      flex: 1;
     align-items: center;
      justify-content: center;
      display: flex;
     
    }
  }

  .rooms{
    width: 100%;
    height: 100%;
    
   
    .roomContent {
        width: 80%;
        height: 230px;
        
        margin: 20px auto;
        display: flex;
        
        
    
        .left3 {
          flex: 1;
          display: flex;
        
          
          
        }
    
        .center3 {
          flex: 3;
          display: block;
          align-items: center;
          justify-content: center;
          flex-direction: row;

          .roomName{
           font-size: 24px;
           padding: 0 20px;
           display: flex;
           font-style:oblique;
           

          }
          .roomDimen{
            font-size: 18px;
            padding: 10px 20px;
            font-style:oblique;
            display: block;
          }
          .roomDesc{
            font-size: 16px;
            padding: 0 20px;
            font-style:oblique;
          }

          .RoomDetailsBtn a{
            padding: 30px 20px;
            display: flex;
            align-items: center;
            text-decoration: none;
            cursor: pointer;
            font-style:oblique;

           

          }
        }
    
        .right3 {
          flex: 1.2;
          padding: 40px 40px;
          display: flex;
          
          justify-content:space-between;
          
        .siDetailTexts{
            text-align: right;
            display: flex;
            flex-direction: column;
            gap: 5px;
        
            .siPrice{
                font-size: 24px;
            }
            .usd{
                font-size: 19px;
                color: rgb(63, 63, 63);
            }
        
            .tax{
                font-size: 19px;
                color: #666666;
                font: inherit;
                
            }
        
            
        .siCheckButton{
            background-color: #e0aa14;
            color: black;
            padding: 14px 6px;
            border: none;
            cursor: pointer;
            border-radius: 5px;

           
        }
        .siCheckButton:hover{
            background-color: #c89200;
        }
        }






          
        }
      }
    
  }