.link, 
.link2 {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: color 0.3 ease;
}

.link1:hover, 
.link2:hover {
    color: #e5c409;
}

.text-primary {
    color: #212529;
}