.heading {
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-size: 28px;
    padding-bottom: 20px;
    line-height: 37px;
    /* font-weight: 400; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.card1 {
  background-color: #ffffff;
  color: #000000;
  height: 450px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card2 {
  height: 220px;
  border-radius: (8px, 8px, 0, 0);
  /* background-color: #4F46E5; */
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 100%;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  /* border-radius: 50%; */
}

.body-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px;
}

.body-title {
  font-size: 20px;
  font-weight: bold;
}

/* .btn1 {
    background-color: #e6b223;
    color: #FFFFFF;
    font-size: 16px;
    padding: (15px 30px);
    border-radius: 8px;
} */
